<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88936181866-g2gscatri7ql4jt8qq58vdb3icr06435.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88936181866-g2gscatri7ql4jt8qq58vdb3icr06435</string>
	<key>API_KEY</key>
	<string>AIzaSyAeKa8PCdMEozPoOo3oQQdQ09tpOvJCwCw</string>
	<key>GCM_SENDER_ID</key>
	<string>88936181866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ActiveHub.YumGott</string>
	<key>PROJECT_ID</key>
	<string>logo-2e4e1</string>
	<key>STORAGE_BUCKET</key>
	<string>logo-2e4e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88936181866:ios:3d9ac3d1f84dfa03525a13</string>
</dict>
</plist>